# Password you'll use to log into /admin
ADMIN_PASSWORD=changeme123

# Any long random string (used to secure the login cookie) - can be anything
ADMIN_SECRET=change-this-to-a-long-random-string

# POSTGRES_URL and friends are added AUTOMATICALLY by Vercel
# when you attach a Postgres database to this project (Storage tab).
# You do not need to set these yourself.
